$primary: #f2d0a4;
$secondary: rgb(35, 87, 137);
$font-color: #020100;
$highlight: hsl(206, 7%, 95%);
$title-font: "Yellowtail";
$body-font: "Comfortaa";
$price-font: monospace;
$name-font: "Zen";
$fa-font-path: "/Css/webfonts";
@font-face {
  font-family: "Yellowtail";
  src: url(/css/Yellowtail/Yellowtail-Regular.ttf);
}
@font-face {
  font-family: "Zen";
  src: url(/css/Zen_Kurenaido/ZenKurenaido-Regular.ttf);
}
@font-face {
  font-family: "Comfortaa";
  src: url(/css/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Comfortaa";
}
body {
  scroll-behavior: smooth;
  background-color: $primary;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Ehoundstooth%3C/title%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 18h6l6-6v6h6l-6 6H0M24 18v6h-6M24 0l-6 6h-6l6-6M12 0v6L0 18v-6l6-6H0V0'/%3E%3C/g%3E%3C/svg%3E");
}
ul {
  list-style-type: none;
  li {
    margin-block: 0.5rem;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   min-height: 3rem;
  padding-block: 0.5rem;
  background-color: $secondary;
  filter: opacity(0.9) brightness(140%);
  font-size: 1.2rem;
  position: fixed;
  top: 0%;
  z-index: 100;
  .nav-title {
    font-family: $body-font;
    font-size: 2rem;
    color: $highlight;
    margin-inline: 0.5rem;
  }
  .nav-button-list {
    display: flex;
    .nav-button {
      list-style-type: none;
      margin-inline: 0.5rem;
      a {
        text-decoration: none;
        color: $font-color;
        &:hover {
          color: $highlight;
          text-shadow: 1px 1.3px 3px $highlight;
        }
      }
    }
  }
}
main {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
}
.tour,
.bodega,
.restaurant {
  background: rgba(255, 255, 255, 0.1);
  // background-color: rgba(89, 65, 169, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0.5rem 1.6rem;
  border-radius: 25px;
  margin-block: 2.5rem;
  margin-inline: auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  &-name {
    font-family: $name-font;
    font-size: 3.5rem;
    padding-block: 0.6rem;
  }
}
.tour {
  background: rgba(148, 130, 206, 0.2);
}
.bodega {
  background: rgba(106, 63, 146, 0.2);
}
.restaurant {
  background: rgba(229, 212, 237, 0.2);
}
.restaurant-name {
  font-size: 2.8rem;
}
.title {
  font-family: $title-font;
  font-size: 4.5rem;
  text-align: center;
  margin-block: 2rem;
}
.price,
.precio {
  font-family: $price-font;
  font-size: 1.1rem;
  padding: 0.75rem;
  margin: 1rem 1rem;
  margin-left: auto;
  background-color: $secondary;
  text-align: center;
  width: max-content;
  color: $highlight;
  border-radius: 10px;
}
.calendar {
  margin-block: 0.5rem;
  align-self: center;
  margin-block: 2rem;
  span {
    padding: 0.75rem;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid hsl(98, 92%, 17%);
    background-color: hsl(98, 62%, 67%);
  }
  .off {
    background-color: #da3b2f;
    color: white;
  }
}
.details {
  display: flex;
  flex-direction: column;
  .history,
  .description {
    text-align: justify;
    width: 90%;
    align-self: center;
  }
  p {
    margin-block: 1rem;
  }
}
.degustacion,
.lunch {
  h4 {
    font-size: 1.8rem;
  }
}
.aside {
  font-size: 0.9rem;
  width: 80%;
  margin: 2.5rem auto;
  font-style: italic;
}
.contact {
  width: 85%;
  align-self: center;
  text-align: center;
  margin: 1rem;
  i {
    margin: 0.5rem;
  }
}
