$primary: #f2d0a4;
$secondary: rgb(35, 87, 137);
$font-color: #020100;
$highlight: hsl(206, 7%, 95%);
$title-font: "Yellowtail";
$body-font: "Comfortaa";
$price-font: monospace;
$name-font: "Zen";
$fa-font-path: "/Css/webfonts";
@font-face {
  font-family: "Yellowtail";
  src: url(/css/Yellowtail/Yellowtail-Regular.ttf);
}
@font-face {
  font-family: "Zen";
  src: url(/css/Zen_Kurenaido/ZenKurenaido-Regular.ttf);
}
@font-face {
  font-family: "Comfortaa";
  src: url(/css/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Comfortaa";
}
body {
  scroll-behavior: smooth;
  background-color: $primary;
  // background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Ehoundstooth%3C/title%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 18h6l6-6v6h6l-6 6H0M24 18v6h-6M24 0l-6 6h-6l6-6M12 0v6L0 18v-6l6-6H0V0'/%3E%3C/g%3E%3C/svg%3E");
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
ul {
  list-style-type: none;
  li {
    margin-block: 0.5rem;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
  padding-block: 0.5rem;
  background-color: $secondary;
  filter: opacity(0.9) brightness(140%);
  font-size: 4vw;
  position: fixed;
  top: 0%;
  z-index: 100;
  .nav-title {
    font-family: $body-font;
    font-size: 6vw;
    color: $highlight;
    margin-inline: 0.5rem;
    width: 50%;
  }
  .nav-button-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-end;
    .nav-button {
      list-style-type: none;
      margin-inline: 0.5rem;
      margin-block: 0.1rem;
      a {
        text-decoration: none;
        color: $font-color;
        &:hover {
          color: $highlight;
          text-shadow: 1px 1.3px 3px $highlight;
        }
      }
    }
  }
}
main {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
}
.tour,
.bodega,
.restaurant {
  background: rgba(255, 255, 255, 0.1);
  // background-color: rgba(89, 65, 169, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0.5rem 1.6rem;
  border-radius: 25px;
  margin-block: 2.5rem;
  margin-inline: auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  &-name {
    font-family: $name-font;
    font-size: 3.5rem;
    padding-block: 0.6rem;
  }
}
.tour {
  background: rgba(148, 130, 206, 0.2);
}
.bodega {
  background: rgba(106, 63, 146, 0.2);
}
.restaurant {
  background: rgba(229, 212, 237, 0.2);
}
.restaurant-name {
  font-size: 2.8rem;
}
.title {
  font-family: $title-font;
  font-size: 4.5rem;
  text-align: center;
  margin-block: 2rem;
}
.price,
.precio {
  font-family: $price-font;
  font-size: 1.1rem;
  padding: 0.75rem;
  margin: 1rem 1rem;
  margin-left: auto;
  background-color: $secondary;
  text-align: center;
  width: max-content;
  color: $highlight;
  border-radius: 10px;
}
.calendar {
  align-self: center;
  margin-block: 2rem;
  span {
    padding: 0.5rem;
    text-align: center;
    width: 9vw;
    height: 9vw;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid hsl(98, 92%, 17%);
    background-color: hsl(98, 62%, 67%);
  }
  .off {
    background-color: #da3b2f;
    color: white;
  }
}
.details {
  display: flex;
  flex-direction: column;
  .history,
  .description {
    text-align: justify;
    width: 90%;
    align-self: center;
  }
  p {
    margin-block: 1rem;
  }
}
.degustacion,
.lunch {
  h4 {
    font-size: 1.8rem;
  }
}
.aside {
  font-size: 0.9rem;
  width: 80%;
  margin: 2.5rem auto;
  font-style: italic;
}
.contact {
  width: 85%;
  align-self: center;
  text-align: center;
  margin: 1rem;
  i {
    margin: 0.5rem;
  }
}

// MODALS
.modal {
  // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* Modal Content*/
.modal-content {
  background-color: $primary;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  margin: 50% auto;
  padding: 5%;
  border: 1px solid #888;
  border-radius: 12px;
  width: 80%;
  min-height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  .modal-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    color: #191414;
  }
  .modal-button {
    width: 90%;
    border-radius: 12px;
    background-color: wheat;
    height: 3rem;
    margin: auto;
    padding: 1rem;
    text-align: center;
    i {
      padding-inline: 0.5rem;
    }
  }
  .close-button {
    color: #020100;
    text-align: end;
  }
  .online {
    background-color: #00a4ef;
  }
  .whatsapp {
    background-color: #25d366;
  }
  .telefono {
    background-color: #191414;
  }
}

footer {
  min-height: 5vh;
  padding: 1rem;
  .desarrollador {
    text-align: center;
    i {
      color: #020100;
      margin: 0.5rem;
    }
  }
}
